body{
    background-color: indianred;
    text-align: center;
}
.pro{
    background-color: white;
    color: deeppink;
}
.premium{
    background-color: white;
    color: deeppink;
}
.platinum{
    background-color: white;
    color: deeppink;
}